<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{css/estilos.css}">
	</head>
	<body>
         <nav th:fragment="nav" id="menu" class="navbar navbar-expand-lg bg-secondary p-3">

             <div class="container-fluid">
                     <a class="navbar-brand" th:href="@{/noticias/listadoNoticias}">
                         <span class="text-danger fw-bold">Inicio</span> </a>
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="collapse navbar-collapse" id="navbarSupportedContent">

                     <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

                         <li class="nav-item">


                         </li>
                         <li class="nav-item">
                             <a th:href="@{/productos/listadoProductos}">Productos</a>

                         </li>
                         <li class="nav-item">
                             <a th:href="@{/consejos/listadoConsejos}">Consejos</a>

                         </li>
                         <li class="nav-item">
                             <a th:href="@{/servicios/listadoServicios}">Servicios</a>

                         </li>
                         <li class="nav-item">
                             <a th:href="@{/sucursales/listadoSucursales}">Surcursal</a>

                         </li>
                         <li class="nav-item">
                             <a th:href="@{/formulario}">Contactanos</a>

                         </li>
                     </ul>

                 </div>
             </div>
         </nav>

        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>