<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{css/estilos.css}">
	</head>
	<body>
	     <nav th:fragment="nav" id="menu">
            <ul>
                <li><a th:href="@{/index}">Inicio</a></li>
                <li><a th:href="@{/productos/listadoProductos}">Productos</a></li>
                <li><a th:href="@{/consejos}">Consejos</a></li>
                <li><a th:href="@{/servicios/listadoServicios}">Servicios</a></li> 
                <li><a th:href="@{/sucursal}">Surcursal</a></li>
                <li><a th:href="@{/formulario}">Contactanos</a></li>
            </ul>
        </nav>
	</body>
</html>