<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Consejo de Salud</title>
</head>






<body>
    <header>
        <H1>Veterianria -jujuy</H1>
        <img src="scr/main/resources/images/logo.jpg" alt="">
    </header>
    <hr>
    <nav>
        <ul>
           <li><a href="./index.html">Inicio</a></li>
            <li><a href="./Productos.html">Productos</a></li>
            <li><a href="./ConsejodeSalud.html">Consejos de salud</a></li>
            <li><a href="./TablaServicios.html">Servicios de paseos</a></li> 
            <li><a href="./Sucursal.html">Surcursal</a></li>
            <li><a href="./Formulario.html">Contactanos</a></li>

        </ul>
    </nav>
<hr>
<section>
     <h2>Consejo de Salud para nuestra mascotas</h2>
    <h2>¿Son realmente tan necesarias la vacunación y la revacunación?</h2>
    <img src="../static/images/preve1.jpeg"" width="600" alt="">
    <p>La vacunación de los animales de compañía es el método preventivo más adecuado para evitar la aparición de diversas enfermedades. Es imprescindible respetar el calendario de vacunaciones propuesto por el veterinario ya que tiene una importancia fundamental para la consecución de una salud plena.

    La vacunación o inmunización activa es el procedimiento preventivo por excelencia; desgraciadamente 
    no existen vacunas contra todas las patologías de nuestros animales de compañía, pero si disponemos 
    de un gran número de ellas para prevenir patologías de diversa gravedad.
        
    La vacunación es un procedimiento sencillo y eficaz. Mediante la aplicación de vacunas en nuestros
    compañeros hemos conseguido erradicar ciertas patologías que no sólo afectaban, por ejemplo, al 
    perro, sino que a su vez hemos erradicado patologías que podrían afectar de forma muy grave al 
    ser humano. Un dueño responsable debe pensar exclusivamente en el beneficio sanitario y no ver 
    tras la vacunación solo el pago del servicio ofrecido por el veterinario.
        
    Las vacunas deben ser manejadas exclusivamente por los veterinarios, puesto que su preparación 
    profesional y su experiencia les otorga plena capacidad para manejar las distintas estrategias 
    de vacunación y adecuarlas a cada animal en concreto. Debemos revacunar a nuestro animal todos 
    los años. Los cachorros deben revacunarse debido a la inmadurez de su sistema inmune y a las 
    posibles interferencias con las defensas de la madre.
        
    La revacunación anual es imprescindible para asegurarnos una protección continuada y de alta 
    efectividad durante toda la vida del animal. No pasa nada si la vacunación se retrasa unos días 
    sobre la fecha prevista, pero si el retraso fuera prolongado, deberíamos consultar con el 
    profesional la posibilidad de instaurar otro calendario de vacunaciones.</p>

    <h2>¿Cuales son las principales enfermedades del perro que se evitan con la vacunación?</h2>
    <img src="../static/images/preve2.jpeg" width="600" alt="">
    
    <h4>Parvovirus:</h4> 
    <p>Es una enfermedad causada por un virus que llega a los animales sanos a partir del contacto 
    con animales enfermos o con sus heces. Un perro puede padecer la enfermedad en cualquier etapa 
    vital, pero su gravedad depende de la edad del animal afectado. Provoca fiebre elevada y diarrea
    con sangre, y en cachorros puede llegar a ser mortal.</p>

    <h4>Moquillo:</h4>
    <p> 
   Es una enfermedad muy contagiosa producida por un virus, que afecta principalmente a cachorros no 
    vacunados. Según el tipo de infección, el animal puede morir o quedar con lesiones permanentes; 
    el problema suele comenzar con fiebre, ojos y nariz con secreciones, tos, diarrea y seguir con deshidratación,
    pérdida de peso y síntomas nerviosos.
    </p>
   
    <h4>Hepatitis infecciosa canina:</h4>
    <p>
    Es una enfermedad viral muy contagiosa que se transmite por contacto con animales infectados,
    provocando principalmente una lesión en el hígado, aunque también puede alterar el aparato 
    respiratorio. En casos graves se produce la muerte sin posibilidad de aplicar un tratamiento.
    La vacunación disminuye la expansión de la enfermedad. 
    </p>

    <h4>Leptospirosis:</h4>
    <p>
    Es una enfermedad que puede contagiarse también a las personas y está causada por una bacteria
    que provoca daños en el riñón y en el hígado. Se transmite por contacto con orina infectada. 
    Los casos graves pueden ser mortales o causar un daño permanente al riñón. <br>
    </p>
    <h4>Tos de las perreras:</h4>  
    <p>
    Esta enfermedad ocurre cuando hay aglomeraciones de perros, como en exposiciones caninas o en 
    residencias. Suele suceder por una combinación de varios agentes infecciosos, produciendo una 
    tos seca muy molesta con posible descarga nasal que dura varias semanas, que no obstante no pone 
    en peligro la vida del animal. 
    </p>
   
    <h4>Rabia:</h4>
    <p>  
    Es una enfermedad que afecta a todos los mamíferos, incluido al ser humano. La principal 
    fuente de transmisión es el contacto con animales no domésticos infectados. El gato, más que 
    el perro, es el que con mayor frecuencia ha infectado al hombre. La enfermedad se transmite a 
    través de la saliva durante la mordedura del animal infectado. El animal rabioso muestra fiebre, 
    ansiedad, tristeza y dilatación de pupilas. En fases posteriores puede bien mostrarse furioso y 
    llegar a morder, o bien sufrir parálisis, presentar gran cantidad de saliva y terminar muriendo. <br>
     </p>
</section>
<hr>
<footer>
    <p>Copyright 2023 - Veterinaria-Jujuy - Diseñado por Grupo18-Jujuy-República Argentina</p>
</footer>

</body>
</html>