<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
    <header>
        <H1>Veterinaria -jujuy</H1>
        <img src="../static/images/logo.jpg" width="200px" alt="">
    </header>
    <hr>
    <nav>
        <ul>
          <li><a href="./index.html">Inicio</a></li>
            <li><a href="./Productos.html">Productos</a></li>
            <li><a href="./ConsejodeSalud.html">Consejos de salud</a></li>
            <li><a href="./TablaServicios.html">Servicios de paseos</a></li> 
            <li><a href="./Sucursal.html">Surcursal</a></li>
            <li><a href="./Formulario.html">Contactanos</a></li>

        </ul>
    </nav>
    <hr>
        <section>
                <form>
                       <p>
                        <label>Nombres</label>
                        <input type="text" name="nombre" size="26px" required placeholder="Ingrese su nombre">
                       </p>
                       <p>
                        <label >Email *</label>
                        <input type="email" name="correo electronico" required  placeholder="Ingrese un email válido" >
                       </p>
                       <p>
                        <label>Ciudad</label>
                        <input type="text" name="ciudad" size="26px" required placeholder="Ingrese sus cuidad">
                        </p>
                        <p>
                          <label for="">Mensaje</label>
                          <textarea></textarea>
                        </p>
                        <p class="gusta">
                            <input type="submit">
                        </p>
                </form>
        </section>
            <hr>
        <footer>
            <p>Copyright 2023 - Veterinaria-Jujuy - Diseñado por Grupo18-Jujuy-República Argentina</h2>       
        </footer>
</body>
</html>
