<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
   <link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body id="bodyform">
	<div class="contenido">
         <header id="headerform">
        <H1>Veterinaria -jujuy</H1>
        <img src="../static/images/logo.jpg" width="200px" alt="">
    </header>
     
  
    <nav id="menu">
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./Productos.html">Productos</a></li>
                <li><a href="./ConsejodeSalud.html">Consejos</a></li>
                <li><a href="./TablaServicios.html">Servicios</a></li> 
                <li><a href="./Sucursal.html">Surcursal</a></li>
                <li><a href="./Formulario.html">Contactanos</a></li>
            </ul>
        </nav>
    
        <section id="contenido">
			<div id="formulario">
			
                <form>
					
                       <p>
                        <label>Nombres</label>
                        <input type="text" name="nombre" 
                        size="26px" required placeholder="Ingrese su nombre">
                       </p>
                       <p>
                        <label >Email *</label>
                        <input type="email" name="correo electronico" required  placeholder="Ingrese un email válido" >
                       </p>
                       <p>
                        <label>Ciudad</label>
                        <input type="text" name="ciudad" size="26px" required placeholder="Ingrese sus cuidad">
                        </p>
                        <p>
                          <label for="">Mensaje</label>
                          <textarea></textarea>
                        </p>
                        <p>
                            <input type="submit">
                        </p>  
              </form> 
              </div> 
        </sectionid>
        <footer id="pieform">
            <p>Copyright 2023 - Veterinaria-Jujuy - Diseñado por Grupo18-Jujuy-República Argentina</h2>       
        </footer>
</body>
</html>
