<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Formulario</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
   <link rel="stylesheet" th:href="@{css/estilos.css}">
</head>
<body id="bodyform">
   <header th:replace="layouts/header :: header"></header>
    <nav th:replace="layouts/nav :: nav">
        </nav>
    
        <section id="contenido">
			<div id="formulario">
			
                <form>
					
                       <p>
                        <label>Nombres</label>
                        <input type="text" name="nombre" 
                        size="26px" required placeholder="Ingrese su nombre">
                       </p>
                       <p>
                        <label >Email *</label>
                        <input type="email" name="correo electronico" required  placeholder="Ingrese un email válido" >
                       </p>
                       <p>
                        <label>Ciudad</label>
                        <input type="text" name="ciudad" size="26px" required placeholder="Ingrese sus cuidad">
                        </p>
                        <p>
                          <label for="">Mensaje</label>
                          <textarea></textarea>
                        </p>
                        <p>
                            <input type="submit">
                        </p>  
              </form> 
              </div> 
        </section>
        <footer th:replace="layouts/footer :: footer">       
        </footer>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>