<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Veterinaria-Jujuy</title>
   
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
    
      <!--layouts-->
         <header th:replace="layouts/header :: header"></header>
       
     
        <nav th:replace="layouts/nav :: nav"></nav>
        <!--uso de container,rows y cols-->
    <div class="container-fluid">   
       <div class="row justify-content-center">
       <!--control de los consejos ingresados para cambiar de tamaño respecto a la pantalla-->
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
        <section id="articulos">
            <div class="card">
         <div class="table-responsive">   
       <table>
	      <tr th:each="noti:${noticia}">
	         <td th:text="${noti.titulo}">
	         <td th:text="${noti.texto}"></td>
	      </tr>
	  </table>
	  </section>
	  </div>
	  <!--columna que cambia de tamaño y posicion respecto al tamaño de la pantalla-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
        <aside id="info">  
          <img src="../images/inicio1.jpeg" >
          <img src="../images/inicio2.jpeg" >
       </aside>
       </div>
     </div>
      </div>
      <!--layouts-->
      <footer th:replace="layouts/footer :: footer"></footer>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>