<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Veterinaria-Jujuy</title>
</head>
<body>
    <header>
        <H1>Veterinaria -jujuy</H1>
        <img src="../static/images/logo.jpg"  width="200px" alt="">
    </header>
    <hr>
    <nav>
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="">Consejos de salud</a></li>
            <li><a href="">Servicios de paseos</a></li> 
            <li><a href="">Surcursal</a></li>
            <li><a href="">Contactanos</a></li>

        </ul>
    </nav>
    <hr>
    <section>
        <article>
            <h2>CONSEJOS VETERINARIOS</h2>
            <ol>
                <li>
                    Con el fin de dar la atención que un animal requiere es importante 
                    que cubramos todas sus necesidades básicas, debemos proveer un sitio 
                    adecuado para que descanse protegido de inclemencias climáticas y que mantenga 
                    una temperatura adecuada.
                </li>
                <br>
                <li>
                    La alimentación de nuestra mascota es la base para resguardar su salud, es importante 
                    darle una dieta de alta calidad, según la recomendación que haga el médico veterinario 
                    de nuestra confianza.
                </li>
                <br>
                <li>
                    Debemos recordar que nuestra mascota es un ser vivo y como tal requiere socializar con 
                    otros de su especie y con seres humanos. Debemos dedicar tiempo para acariciarlo, jugar
                     con él, ejercitarlo y llevarlo a pasear.
                </li>
                <br>
                <li>
                    Es importante que nuestra mascota esté saludable, para ello debemos mantenerlo limpio, 
                    bañarlo frecuentemente, recoger sus desechos, llevarlo a cortar el pelo en los animales 
                    que así lo requieren y por supuesto llevarlo de forma periódica al médico veterinario.
                </li>
                <br>
                <li>
                    Los cuidados veterinarios básicos incluyen control de parásitos, con el fin de que la mascota 
                    mantenga su buena salud y no se afecte la salud de nosotros, al igual que las personas ellos 
                    requieren vacunas, cuidado dental y programas médicos dependiendo de la edad que tengan, 
                    tu médico veterinario te hará las recomendaciones del caso, por eso debés llevar a tu mascota 
                    con él al menos 1 vez al año y en algunos casos se requieren visitas más frecuentes.
                </li>
            </ol>

        </article>
        <hr>
        <article>
            <h2>IMPORTANCIA DE EVITAR QUE NUESTRAS MASCOTAS SALGAN SOLAS DE CASA</h2>
            <p>Cuando una persona decide hacerse cargo de una mascota, debe saber que ha encontrado una gran 
                compañía, pero también ha adquirido una gran responsabilidad. Una de estas responsabilidades, 
                que viene dada por la ley 7451 y 2391, es mantener la mascota en condiciones óptimas que 
                resguarden su bienestar y eviten riesgos para personas y otros animales.</p>
                <br>
                <p>Hay varias razones por las cuales nuestra mascota nunca debe salir sin supervisión:</p>
                <br>
                <ol>
                    <li>
                        Hay animales que al salir y estar en contacto con otros de su especie, generan mucho 
                        ruido, especialmente en las noches, lo cual podría provocar molestias de los vecinos.
                    </li>
                    <li>
                        Los perros y gatos en la calle se ven expuestos a muchos peligros, como lo son atropellos, 
                        envenenamientos, agresiones de parte de personas u otros animales.
                    </li>
                    <li>
                        Existe riesgo de que el animal enferme al estar en contacto con otros animales que no están 
                        en óptimas condiciones de salud.
                    </li>
                    <li>
                        Los animales en la calle buscarán defecar en jardines, parques, aceras y más, lo cual genera 
                        contaminación y el riesgo de transmisión de enfermedades graves, especialmente a los niños y 
                        personas con sistemas inmunológicos debilitados.
                    </li>
                    <li>
                        Cuando tenemos una mascota agresiva y esta escapa de la casa, puede suponer un riesgo muy alto 
                        para las personas, ya que les puede generar lesiones y eso nos traerá prob lemas desde el punto 
                        de vista legal.
                    </li>
                    <li>
                        La mascota se podrá extraviar o ser robada.
                    </li>
                </ol>
                <br>
                <p>Es importante que nuestras mascotas, especialmente los perros, salgan a hacer ejercicio de forma diaria 
                    bajo nuestra supervisión. Eso significa que deben salir siempre con su correa, debemos llevar en todo
                     momento bolsitas para recoger las heces que la mascota deposite en sitios públicos y posteriormente 
                     desecharlos en un lugar adecuado. Si llevamos nuestro perro a caminatas largas, es importante lleva 
                     recipientes con agua, para que se mantenga hidratado.

                    Recordemos que nuestra mascota siempre debe estar al día con sus vacunas y control de parásitos, ya que 
                    cuando salen a la calle, se pueden ver expuestos a muchas enfermedades.</p>
        </article>
    </section>
    <hr>
    <aside>  
        <img src="../static/images/inicio1.jpeg" width="800px" alt="">
        <img src="../static/images/inicio2.jpeg" width="800px" alt="">
      
    </aside>
    <hr>
    <footer>
        <p>Copyright 2023 - Veterinaria-Jujuy - Diseñado por Grupo18-Jujuy-República Argentina</p>
    </footer>
</body>
</html>