<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Formulario</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
   <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body id="bodyform">
<!--Interfas que muestra el formulario de alta de producto-->
   <header th:replace="layouts/header :: header"></header>
    <nav th:replace="layouts/nav :: nav">
        </nav>
      <div class="container-fluid">
         <div class="row justify-content-center">
           <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4 col-xxl-4">
        <section id="contenido">
			<div id="formulario">
			<h3 th:text="${edicion}?'Modificar Producto':'Nuevo producto'"></h3>
                <form th:action="${edicion}?@{/productos/modificar}:@{/productos/guardar}" th:object="${producto}" method="post">
                       
                       <input th:field="*{id}" hidden>
                       <input th:field="*{estado}" hidden>
                        <label>Nombre</label>
                        <input type="text" th:field="*{nombre}" size="26px" placeholder="Ingrese un nombre">
                        <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                      
                        <label >Codigo</label>
                        <input type="number" th:field="*{codigo}" size="26px" placeholder="Ingrese un codigo">
                        <div class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
                       
                        <label>Precio</label>
                        <input type="number" th:field="*{precio}" size="29px" placeholder="Ingrese el precio">
                        <div class="text-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
                        
                        <label>Categoria</label>
                        <br>
                          <select th:field="*{categoria}">
							    <option value="Alimento">Alimento</option>
							    <option value="Higiene">Higiene</option>
							    <option value="Accesorios">Accesorios</option>
							    <option value="Vestimenta">Vestimenta</option>
						 </select>
                        <div class="text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
                        <br>
                        <label>Descuento</label>
                        
                        <input type="number" th:field="*{descuento}" size="26px" placeholder="Ingrese el descuento">
                        <div class="text-danger" th:if="${#fields.hasErrors('descuento')}" th:errors="*{descuento}"></div>

                            <input type="submit" value="guardar">
                          
              </form> 
              </div> 
        </section>
       </div>
       </div>
       </div>
        <footer th:replace="layouts/footer :: footer">       
        </footer>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>