<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Formulario</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
   <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body id="bodyform">
   <header th:replace="layouts/header :: header"></header>
    <nav th:replace="layouts/nav :: nav">
        </nav>
      <div class="container-fluid">
       <div class="row justify-content-center">
         <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4 col-xxl-4">
        <section id="contenido">
			<div id="formulario">
			
                <form th:action="@{/consejos/guardar}" th:object="${consejo}" method="post">
                       <p>
                        <label>TITULO</label>
                        <input type="text" name="titulo" 
                        size="26px" required placeholder="Ingrese su titulo">
                       </p>
                       <p>
                        <label >TEXTO</label>
                        <textarea name="texto" required  placeholder="Ingrese su Consejo" >
                        </textarea>
                 
                       </p>
                        <p>  
                            <input type="submit" value="guardar">
                        </p>  
              </form> 
              </div> 
        </section>
           </div>
         </div>
        </div>
        <footer th:replace="layouts/footer :: footer">       
        </footer>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>