<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Formulario</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
   <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body id="bodyform">
   <header th:replace="layouts/header :: header"></header>
    <nav th:replace="layouts/nav :: nav"></nav>
     <div class="container-fluid">
      <div class="row justify-content-center">
       <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4 col-xxl-4">
        <section id="contenido">
		  <div id="formulario">
		  <h3 th:text="${edicion}?'Modificar Noticia':'Nueva Noticia'"></h3>
                <form th:action="${edicion}?@{/noticias/modificar}:@{/noticias/guardar}" th:object="${noticia}" method="post">
                       <input th:field="*{id}" hidden>
                        <input th:field="*{estado}" hidden>
                        <label>TITULO</label>
                        <input type="text" th:field="*{titulo}" size="26px" placeholder="Ingrese su titulo">
                        <div class="text-danger" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></div>
                      
                        <label >TEXTO</label>
                        <textarea th:field="*{texto}" placeholder="Ingrese su noticia" ></textarea>
                        <div class="text-danger" th:if="${#fields.hasErrors('texto')}" th:errors="*{texto}"></div>
                      
                            <input type="submit" th:value="${edicion}?'modificar':'guardar'">
                       
              </form> 
            </div> 
        </section>
        </div>
        </div>
      </div>
        <footer th:replace="layouts/footer :: footer">       
        </footer>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>