<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
    <header>
        <H1>Veterinaria -jujuy</H1>
        <img src="../static/images/logo.jpg" width="200px" alt="">
    </header>
    <hr>
    <nav>
        <ul>
            <li><a href="./index.html">Inicio</a></li>
            <li><a href="./Productos.html">Productos</a></li>
            <li><a href="">Consejos de salud</a></li>
            <li><a href="">Servicios de paseos</a></li> 
            <li><a href="./Sucursal.html">Surcursal</a></li>
            <li><a href="./Formulario.html">Contactanos</a></li>

        </ul>
    </nav>
    <hr>
    <section>
     <h2>PRODUCTOS</h2>
        <ul>
            <li>
                <h3>Cepillo doble cerda</h3>
                <img src="../static/images/pro1.jpeg" width="400px" alt="">
                <p>
                    Práctico cepillo con doble función: desenreda, alisa y da brillo.
                </p> 

            </li>
            <li>
                <h3>Collar Isabelino</h3>
                <img src="../static/images/pro2.jpeg" " width="400px" alt="">
                 <p>
                    Para evitar que su mascota lama o mordisquee las heridas, zonas operadas o sensibles.
                 </p>
            </li>
            <li>
                <h3>Cepillo para perro</h3>
                <img src="../static/images/pro3.jpeg" width="400px" alt="">
                <p>
                    Minnie Mouse© Collar para perro, nailon suave, cómodo y ligero, ajustable, ideal para paseo 
                    y adiestramiento de perros, hebilla resistente y robusta, uso diario. 
                    Producto oficial - Disney©.
                </p> 

            </li>
        </ul>
    </section>
    <hr>
    <footer>
        <p>Copyright 2023 - Veterinaria-Jujuy - Diseñado por Grupo18-Jujuy-República Argentina</p>       
    </footer>
</body>
</html>