<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Productos</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<!--Interfas que muestra el listado de productos-->
    <header th:replace="layouts/header :: header">
    </header>
    <nav th:replace="layouts/nav :: nav">
        </nav>
        
    <div class="container-fluid">
    <div class="row justify-content-center">
    <h2 class="titulo-centrado">PRODUCTOS</h2>
    <div th:each="pro:${producto}" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 my-div highlighted-text">
      <div > NOMBRE:</div>
      <div th:text="${pro.nombre}" ></div>
      <div > CODIGO:</div>
      <div  th:text="${pro.codigo}" ></div>
      <div > PRECIO:</div>
      <div  th:text="${pro.precio + '$'}" ></div>
      <div > CATEGORIA:</div>
      <div  th:text="${pro.categoria}" ></div>
      <div > DESCUENTO:</div>
      <div  th:text="${pro.descuento + '%'}" ></div>
      <div> PRECIO CON DESCUENTO: </div>
      <div th:text="${ ( pro.precio - ((pro.descuento * pro.precio) div 100) ) + '$'}"></div>
      <div > OPCIONES:</div>
      <div>
         <a th:href="@{/productos/modificar/}+${pro.id}">Editar</a>
	     <a th:href="@{/productos/eliminar/}+${pro.id}">Eliminar</a>
      </div>
    </div>
    <button type="button" class="btn btn-dark titulo-centrado">
			 <a class="text-light" th:href="@{/productos/nuevo}" style="text-decoration: none">Agregar</a>
		 </button>
    </div>
    </div>
    <footer th:replace="layouts/footer :: footer"></footer>  
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>