<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Productos</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>
<!--Interfas que muestra el listado de productos-->

    <header th:replace="layouts/header :: header">
    </header>
    <nav th:replace="layouts/nav :: nav">
        </nav>
    
    <section id = "Productos">
     <h2 id="tituloprod">PRODUCTOS</h2>
 	 <div id="prod">	 
        <table class="table table-success table-striped-columns border-dark">
	      <tr>
	         <th>Nombre </th>
	         <th> Codigo</th>
	         <th> Precio</th>
	         <th class="d-none d-xl-table-cell"> Categoria</th>
	         <th class="d-none d-lg-table-cell"> Descuento</th>
	      </tr>
	      <tr th:each="pro:${producto}">
	         <td th:text="${pro.nombre}">
	         <td th:text="${pro.codigo}"></td>
	         <td th:text="${pro.precio}"></td>
	         <td class="d-none d-xl-table-cell" th:text="${pro.categoria}"></td>
	         <td class="d-none d-lg-table-cell" th:text="${pro.descuento}"></td>
	      </tr>
	  </table>

		 <button type="button" class="btn btn-dark ">
			 <a class="text-light" th:href="@{/productos/nuevo}" style="text-decoration: none">Agregar</a>
		 </button>
    </div>        
    </section>
 
    <footer th:replace="layouts/footer :: footer"></footer>  
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>