<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contactos</title>
</head>

<body>
    <header>
        <H1>Veterinaria -jujuy</H1>
        <img src="../static/images/logo.jpg" width="200px" alt="">
    </header>
  
    <hr>
    <nav>
        <ul>
           <li><a href="./index.html">Inicio</a></li>
            <li><a href="./Productos.html">Productos</a></li>
            <li><a href="">Consejos de salud</a></li>
            <li><a href="">Servicios de paseos</a></li> 
            <li><a href="./Sucursal.html">Surcursal</a></li>
            <li><a href="./Formulario.html">Contactanos</a></li>

        </ul>
    </nav>
<hr>
<section>

    <h1>Contáctenos</h1>
    <p>3915 Av. General Belgrano, 388-4999999 <br> Luneas a viernes: 9:00 a. m. 8 p. m.,<br> Sábado a Domingo 9:00 a. m. A 12:30 p. m.<br> contactos@mail.com.ar</p>
     <ul>
        <li><a href="">Facebook</a></li> 
        <li><a href=""> Instagram</a></li> 
        <li><a href="">Twitter</a> </li> 
     </ul>
</section>
<hr>
 <footer>
        <p>Copyright 2023 - Veterinaria-Jujuy - Diseñado por Grupo18-Jujuy-República Argentina</p>       
    </footer>
    
</body>
</html>