<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contactos</title>
    <link rel="stylesheet" th:href="@{css/estilos.css}">
</head>

<body>
    <header th:replace="layouts/header :: header">
    </header>
  
    <nav th:replace="layouts/nav :: nav">
    </nav>
	
<section id="cuerpo">

    <h1>Contáctenos</h1>
    <p>3915 Av. General Belgrano, 388-4999999 <br> Luneas a viernes: 9:00 a. m. 8 p. m.,<br> Sábado a Domingo 9:00 a. m. A 12:30 p. m.<br> contactos@mail.com.ar</p>
     <ul>
        <li><a href="">Facebook</a></li> 
        <li><a href=""> Instagram</a></li> 
        <li><a href="">Twitter</a> </li> 
     </ul>
</section>
<hr>
 <footer th:replace="layouts/footer :: footer">       
 </footer>
    
</body>
</html>