<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Sucursal</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>
<!--Interfas que muestra el listado de sucursal-->

    <header th:replace="layouts/header :: header">
    </header>
  
    <nav th:replace="layouts/nav :: nav">
    </nav>
	
	<div class="container-fluid">   
       <div class="row justify-content-center">
     <section id="cuerpo">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">  
     <div class="table-responsive">
     <table class="table table-success table-striped-columns border-dark">
            <tr id="colorbarras">
             <th> NOMBRE </th>
	         <th> LUGAR </th>
	         <th>  TELEFONO </th>
                <th>  PROVINCIA </th>
	         <th > DIAS </th>
	         <th> HORARIOS </th>
	         <th > E-MAIL </th>
	         <th > FECHA INICIO </th>
	      </tr>
	      <tr th:each="sucu:${sucursal}">
	         <td th:text="${sucu.nombre}">
	         <td th:text="${sucu.lugar}">
	         <td th:text="${sucu.telefono}">
              <td th:text = "${sucu.provincia.nombre}">
	         <td th:text="${sucu.dia}">
	         <td th:text="${sucu.horario}">
	         <td th:text="${sucu.gmail}">
	         <td th:text="${sucu.fechainicio}">
	      </tr>
   </table>
   </div>
    </div>
</section>
</div>
  </div>
 <footer th:replace="layouts/footer :: footer">       
 </footer>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>