<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="es" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Veterinaria-Jujuy</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
    <header th:replace="layouts/header :: header"></header>
    <nav th:replace="layouts/nav :: nav">
    </nav>
   
   <section id="tabla">
    <div class="tabla2">
    <table>
            <tr>
	         <th> Dia </th>
	         <th> Horario </th>
	         <th> Nombre </th>
	      </tr>
	      <tr th:each="ser:${servicio}">
	         <td th:text="${ser.dia}">
	         <td th:text="${ser.horario}">
	         <td th:text="${ser.nombre}">
	      </tr>
   </table> 
   <a class="button" th:href="@{/servicios/nuevo}"> agregar </a>
   </div>
   </section>
    <footer th:replace="layouts/footer :: footer">       
    </footer>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>