<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="es" >
<head>
    <meta charset="UTF-8">
    <title>Veterinaria-Jujuy</title>
    <link rel="stylesheet" th:href="@{css/estilos.css}">
</head>
<body>
    <div class="contenido">
         <header th:replace="layouts/header :: header"></header>
    <hr>
    <nav th:replace="layouts/nav :: nav">
    </nav>
   
   <section id="tabla">
    <div class="tabla2">
    <table border=1 id="horario">

            <thead>
               <tr>
                <td>Dia</td>
                <td>Lunes</td>
                <td>Martes</td>
                <td>Miércoles</td>
                <td>Jueves</td> 
                <td>Viernes</td>
                <td>Sabado</td>
              </tr>

             <tr>
                <td>Horario</td>
                <td>9 a 12 - 16 a 18</td>
                <td>9 a 12 - 16 a 18</td>
                <td>9 a 12 - 16 a 18</td>
                <td>9 a 12 - 16 a 18</td> 
                <td>9 a 12 - 16 a 18</td>
                <td>9 a 12 - 16 a 18</td>
             </tr>
             <tr>
                <td>Paseadores</td>
                <td>Juan Perez</td>
                <td>Lucas Diaz</td>
                <td>Juan Perez</td>
                 <td>Maria Gomez</td> 
                <td>Lucas Diaz</td>
                <td>Roberto Vazquez</td>
             </tr>

            </thead>
   </table> 
   </div>
   </section>
   <hr>
    <footer th:replace="layouts/footer :: footer">       
    </footer>
    </div>
</body>
</html>