<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Veterinaria-Jujuy</title>
</head>
<body>
    <header>
        <H1>Veterinaria -jujuy</H1>
        <img src="scr/main/resources/images/logo.jpg" alt="">
    </header>
    <hr>
    <nav>
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="">Consejos de salud</a></li>
            <li><a href="">Servicios de paseos</a></li> 
            <li><a href="">Surcursal</a></li>
            <li><a href="">Contactanos</a></li>

        </ul>
    </nav>
   <hr>
   <section>
    <table border=1>

            <thead>
               <tr>
                <td>Dia</td>
                <td>Lunes</td>
                <td>Martes</td>
                <td>Miércoles</td>
                <td>Jueves</td> 
                <td>Viernes</td>
                <td>Sabado</td>
              </tr>

             <tr>
                <td>Horario</td>
                <td>9 a 12 -16 a 18</td>
                <td>9 a 12 -16 a 18</td>
                <td>9 a 12 -16 a 18</td>
                <td>9 a 12 -16 a 18</td> 
                <td>V9 a 12 -16 a 18</td>
                <td>9 a 12 -16 a 18</td>
             </tr>
             <tr>
                <td>H</td>
                <td>Juan Perez</td>
                <td>Lucas Diaz</td>
                <td>Juan Perez</td>
                 <td>Maria Gomez</td> 
                <td>Lucas Diaz</td>
                <td>Roberto Vazquez</td>
             </tr>

            </thead>
   </table> 
   
   </section>
   <hr>
    <footer>
        <p>Copyright 2023 - Veterinaria-Jujuy - Diseñado por Grupo18-Jujuy-República Argentina</p>       
    </footer>
</body>
</html>